<html>
    <head>
        <title>
            the ending of calculation
        </title>
        <style type="text/css">
            body{background-color: #52ccf9}
            h1 {
                /* border: solid red 2px; */
                width: 50%;
                margin: auto;}
            h3{
                width: 5%;
                margin: auto;
                background-color: #c0c0c0;}

        </style>
    </head>
    <body>
            <h1>Median of 2 sorted arrays is {{ending}}</h1> 
            <h3>
                    <form action="/goindex" method="GET">
                        <button type="submit">Go to homepage</button>
                    </form>
            </h3>
    </body>
</html>