<html>
    <head>
        <title>
            Step multi question
        </title>
        <script type="text/javascript">
        function factorial(num){  
        var result = 1;  
        while(num){  
            result *= num;  
            num--;  
        }  
        document.section.article.zoe.value=result;  
    }
        </script>
    </head>
    <header>
        Here is a js function which help on handle out a value of step multi.
    </header>
    <section>
        <header>
            please input a positive integer
        </header>
        <article>
            <input type="number" name="nnn" value="1"><input type="button" value="go!" onclick="factorial(nnn)">ending is<input type="text" name="zoe">
        </article>
    </section>
</html>