<html>
    <head>
        <script type="text/javascript">
            function panduan(num1, num2){
                if(num1 = none){
                    document.body.background="red"
                    break}
                if(num2 = none){
                    document.body.background="red"
                    break}
                document.getElementById("myForm").submit()
            }
        </script>
        <title>
            Median of Two Sorted Arrays
            
        </title>
        <style type="text/css">
            body {
                height: 500px;
                background-color: #52ccf9}
            h1 {
                border: solid #c0c0c0 5px;
                margin: 140px}
            form {
                width: 500px;
                margin-left: 300px;
                margin-top: 180px;
                padding: 30px;
                background-color: yellow;
                position: absolute; top: 70px; left: 0px;}

        </style>
    </head>
    <body>
        <h1 >this part can coculate the median of 2 sorted arrays</h1>
        <form id="myForm" action="/submit" method="GET">
            input 2 sorted arrays<br>
            input first array:
            <input type="text" name="num1" value = "1,2"><br>
            input second arrar:
            <input type="text" name="nqum2" value= "3"><br><br>
            <input style="padding:12px; width:50%; margin:auto " type="submit" value="Submit" onclick="panduan(num1, num2)">
        </form>
    </body>
</html>